@import '_variables.scss';

header {
    display: flex;
    border-bottom: solid 2px $white;
    padding: 0 1rem;
    margin-bottom: 2rem;
    // align-items: bottom;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
    }
    
    h1, h2, h3{
        color: $white;
    }

    h3{
        margin-bottom: 0;
    }

    #sideheader{
        display: flex;
        gap: 2rem;
        text-align: end;

        #user{
            button, a{
                background: bottom;
                color: $white;
                border: hidden;
            }
        }
    }
}
@media only screen and (min-width: 800px){
    
}
