@import '_variables.scss';

header {
    border-bottom: solid 2px $white;
    margin-bottom: 2rem;

    a{
        text-decoration: none;
        color: $white;
    }

    h1{
        margin: 1rem 1rem 2rem 0;
    }

    h3{
        margin-bottom: 0;
    }

    #sideheader{
        #user{
            margin-bottom: 1rem;

            button{
                background: bottom;
                color: $white;
                border: hidden;
            }
        }
    }
}

@media only screen and (min-width: 500px){
    header{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        justify-content: space-between;
        align-items: center;

        h1{
            margin-bottom: 1rem;
        }

        #sideheader{
            display: flex;
            text-align: end;
            flex-wrap: wrap;

            a{
                margin-right: 2rem;
            }
    
            #user{
                margin-bottom: .25rem;

                button{
                    background: bottom;
                    color: $white;
                    border: hidden;
                    text-align: end;
                }
            }
        }
    }
}
