@import '_variables.scss';

#genreSection{
    border-right: solid 2px white;
    width: 200px;
    padding-left: 1rem;

    li{
        list-style: none;

        a{
            color: $white;
            text-decoration: none;
            
        }
    }
}
  
.genreCard{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    width: 10rem;
    height: 75px;
    margin: 0 auto 1rem auto;
    border-radius: 10px;
    
    background: linear-gradient(#00000080, rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); 
    
    h3{
      margin: 0;
      position: absolute;
    }
}