@import '_variables.scss';

header {
    display: flex;
    border-bottom: solid 2px $white;
    margin-bottom: 2rem;
    align-items: bottom;
    justify-content: space-between;

    a{
        text-decoration: none;

        h2, h3{
            color: $white;
        }
    }

    #sideheader{
        display: flex;
        gap: 2rem;
    }
}