@import 'footer.scss';
@import 'genre.scss';
@import 'header.scss';
@import 'moviecard.scss';
@import 'variables.scss';

body{
    font-family: $font;
    background-color: $darkGrey; 
    padding: 0 .5rem; 

    img{
      width: 200px;
      height: 300px;
    }

    main{
       color: $white;
      //  display: flex;

      // Home!!
      section{
        h2{
          margin-bottom: 0;
        }
        
        p{
          margin-top: 0;
        }
      }

      #compare {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
       }

       a{
        text-decoration: none;
        color: $white;
        margin: .25rem;
       }

      // UserCompare!!
       #comparePage{

        #genreCompare{
          width: 25%;
        }
       }
    }

    // Login!!
    #logginn{
      text-align: center;

      button a{
        font-size: large;
        text-decoration: none;
        color: $darkGrey;
      }
    }
}

// .movieCard{
//     display: flex;
//     flex-direction: column;
//     width: 200px;
//     background-color: #252525;
//     color: white;
//     align-items: center;
//     cursor: pointer;
//     border-radius: 20px;

//     img{
//     width: 200px;
//     height: 300px;
//     border-top-left-radius: 20px;
//     border-top-right-radius: 20px;
//     }

//     .infoContainer{
//     flex: none;
//     font-size: 15px;
//     font-weight: 100;
//     }
// }

@media only screen and (min-width: 800px){
  main{
    color: $white;

    // Home!!
    #homePage{
     display: flex;
     justify-content: space-between;
    //  margin: 1rem;
     gap: 5rem;
     
     #homeMovie{
      display: flex;
      gap: 5rem;
     }
    }

    // UserCompare!!
    #comparePage{
      display: flex;
      gap: 5rem;
      justify-content: space-between;
    }

  }
  
  // Login!!
  #logginn{
    margin-top: 5rem;
  }
}