@import 'footer.scss';
@import 'genre.scss';
@import 'header.scss';
@import 'moviecard.scss';
@import 'variables.scss';

body{
    font-family: $font;
    background-color: $darkGrey;  

    img{
      width: 200px;
      height: 300px;
    }

    main{
       color: $white;
    }
}

.movieCard{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #252525;
    color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;

    img{
    width: 200px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

    .infoContainer{
    flex: none;
    font-size: 15px;
    font-weight: 100;
    }
}

@media only screen and (min-width: 800px){
    
}