.cardSection{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movieCard{
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #252525;
  color: white;
  align-items: center;
  padding-top: 20px;


  border-radius: 20px;

  img{
    width: 200px;
    border-radius: 20px;
  }

  h3{
  }
}