.cardSection{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movieCard{
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #252525;
  color: white;
  align-items: center;
  cursor: pointer;


  border-radius: 20px;

  img{
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .infoContainer{
    flex: none;
    font-size: 15px;
    font-weight: 100;
  }
}